* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    height: 100%;
}

/* Header */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Se till att headern täcker hela bredden */
}

/* Top Section within Header */
.header__top {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 50% bild, 50% grid */
    height: 490px; /* Justera efter behov */
    width: 100%; /* Täcker hela bredden av sidan */
}

.header__image-wrapper {
    position: relative;
    height: 30rem;
}

.header__image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Se till att bilden täcker hela området */
}
.header__image-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 160px; /* Justera storleken på ikonen */
}

/* Grid Section for Brown and Green blocks */
.header__grid {
    display: grid;
    grid-template-rows: 15rem  15rem; /* Dela upp i två lika stora block */
}

.header__grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__grid-item--brown { background-color: #9E6D52; /* Brun färg */ }

.header__grid-item--green { background-color: #0A846E; /* Grön färg */ }

.header__grid-item img { width: 140px; /* Justera storleken på SVG-ikonerna */}
.hamburger-menu {
    display: none; /* Dölj på stora skärmar */
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

/* Navigation Bar */
.header__nav {
    background-color: white;
    width: 100%; /* Täcker hela bredden av sidan */
    border-bottom: 1px solid #ddd;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav__list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0 20px; /* Justerar marginalen runt menyn */
}

.nav__item a {
    text-decoration: none;
    color: #0A846E;
    font-weight: bold;
    padding: 10px 20px;
}

/* Hero Section */
.hero {
    background-size: cover;
    background-position: center;
    min-height: 20vh;
    display: flex;
    justify-content: center;
    margin-top: 19px;
}

.hero__title {
    color: #0A846E;
    font-size: 3.5rem;
}

/* Main Content */
.main { padding: 40px 20px; }

/* Content Layout */
.planned-planthood__content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    gap: 40px; /* Avstånd mellan ikon och text */
}

.planned-planthood__icon-wrapper {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: #0A846E; /* Samma färg som ikonen */
    display: flex;
    justify-content: center;
    align-items: center;
}

.planned-planthood__icon { width: 150px; }

.planned-planthood__text {
    max-width: 500px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.planned-planthood__text h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.planned-planthood__text p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.planned-planthood__button {
    background-color: #0A846E;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
    align-self: flex-end;
    
}

.planned-planthood__button:hover { background-color: #004d00; }

.planteringar {
    padding: 40px 0;
    min-height: 100vh;
    
    h2 {
        text-align: center;
        margin-bottom: 40px;
        margin-top: 20px;
        font-size: 35px;
    }
    h4 {
        color: #0A846E;
        text-align: center;
        margin-top: 70px;
        margin-bottom: 50px;
    }
}

.planteringar__grid {
    display: grid;
    grid-template-columns: repeat(3, 30vw);
    grid-template-rows: repeat(2);
    position: relative;
    margin-left: 70px;
    gap: 10px;
}

.plantering {
    text-align: center;
    border: 1px solid #e0dcdc;
    background-color: #f9f9f9;
    position: relative;
    padding: 20px;
    max-height: 90vh; /* Begränsar höjden så att den inte orsakar overflow */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .plantering__bild {
        max-height: 60vh;
        max-width: auto;
        object-fit: cover; /* Behåll proportionerna */
    }
}
.plantering__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    margin-bottom: 10px;
    h3 {
        font-size: 2rem;
    }
    p {
        font-size: 1.3rem;
    }
}


.plantering__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .plantering__icon-trash {
        display: none;
    }
}
.plantering__actions button:hover { transform: scale(1.1); }

.plantering__actions p {
    color: #959393;
    font-size: 1.2rem;
}

.plantering__actions button {
    padding: 10px 30px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10px;
    font-size: 1rem;
}
.plantering img {
    width: 100%;
    height: 80%;
    display: block;
}
.plantering__icon {
    position: absolute;
    bottom: 140px;
    right: -5px;
    transform: scale(0.8); 
    opacity: 0.8; 
}

.plantering h3 { margin: 15px 0; }
.visafler {
    display: block; /* Gör knappen till inline-block för att fungera med text-align */
    margin: 20px auto;
    padding: 20px 40px;
    background-color: #0A846E;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 5px;
}
.visafler:hover { transform: scale(1.1); }
.odlingar {
    min-height: 40vh;
    padding: 40px 20px;
    background-color: white;
    
}

.odlingar__content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

.odlingar__text { max-width: 50%; }

.odlingar__text h2 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.odlingar__text p {
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.odlingar__button {
    padding: 10px 20px;
    background-color: #0A846E;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.odlingar__icon {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: #0A846E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.odlingar__icon img {
    width: 200px;
    height: auto;
}
/* Block: Footer */
.footer {
    position: relative;
    background-color: white;
    color: white;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.footer__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%; /* Halva bredden av footern */
    height: 50vh; /* halv höjd */
    background-color: rgba(0, 0, 0, 0.6); /* Halvgenomskinlig overlay */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1; /* Se till att overlayen visas ovanför bilden */
}

.footer__heading {
    font-size: 5rem;
    margin-bottom: 20px;
}

.footer__contact {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.footer__contact p {
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 1.2rem; /* Justera textstorleken */
}
.footer_ikon {
    margin-right: 8px; /* Avstånd mellan ikonen och texten för telefonnumret */
    margin-left: 8px;  /* Avstånd mellan mejladressen och ikonen */
    width: 1em; /* Gör ikonen lika stor som texten */
    height: auto;
}

.footer__image-wrapper {
    position: relative;
    width: 100%; /* Bilden täcker hela footern */
    height: 50vh; /* Halva skärmhöjden */
    z-index: 0; /* Lägg bilden under overlayen */
}

.footer__image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Se till att bilden täcker hela sin container */
}

.footer__icon {
    position: absolute;
    top: 50%;
    left: 75%; /* Sätter ikonen på höger sida */
    transform: translate(-50%, -50%);
    width: 300px;
    height: auto;
    z-index: 2;
}

.footer__top-link {
    
    border-radius: 5px;
    height:47px;
    color: black;
    background-color: white;
    text-decoration: none;
    font-size: 1.4rem;
    text-align: center;
    margin-top: 20px;
    
}

.footer__top-link:hover { text-decoration: underline; }
